.img-container {
  position: relative;
  width: 90%;
  
  .faq8-shape {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #184289 0%, #184289 70%, transparent 70%);
    border-radius: 2px;
  }
}


