.breadcrumb-container {
    margin-top: 4.5rem;
    background: linear-gradient(253deg, #1B3F8C 0%, #142c61 100%);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 2rem;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 4px 20px rgba(13, 95, 195, 0.079);
}

.breadcrumb-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}